# Modelling Credit Risk
## Introduction
   In this project I will focus on credit modelling, a well known data science problem that focuses on modeling a borrower's credit risk. I'll be working with financial lending data from Lending Club. Lending Club is a marketplace for personal loans that matches borrowers who are seeking a loan with investors looking to lend money and make a return.

### Lending Club Process
Each borrower fills out an application, providing their past financial history, the reason for the loan, and more. Lending Club evaluates each borrower's credit score and past historical data to assign an interest rate to the borrower. A higher interest rate means that the borrower is riskier and more unlikely to pay back the loan while a lower interest rate means that the borrower has a good credit history is more likely to pay back the loan. Each borrower is given a grade according to the interest rate they were assigned. If the borrower accepts the interest rate, then the loan is listed on the Lending Club marketplace.

Investors are primarily interested in receiveing a return on their investments. On the Lending Club marketplace, qualified investors can browse recently approved loans, the borrower's credit score, the purpose for the loan, and other information from the application. When they want to back a loan, they select the amount of money they want to fund. Once a loan's requested amount is fully funded, the borrower receives the money they requested minus the origination fee that Lending Club charges. The borrower then makes monthly payments back to Lending Club either over 36 months or over 60 months. Lending Club redistributes these payments to the investors. This means that investors don't have to wait until the full amount is paid off to start to see money back. If a loan is fully paid off on time, the investors make a return which corresponds to the interest rate the borrower had to pay in addition the requested amount. Many loans aren't completely paid off on time, however, and some borrowers default on the loan.
### Project Scope
While Lending Club has to be extremely savvy and rigorous with their credit modelling, investors on Lending Club need to be equally as savvy about determining which loans are more likely to be paid off. Most investors use a portfolio strategy to invest small amounts in many loans, with healthy mixes of low, medium, and interest loans. In this project, I'll focus on the mindset of a conservative investor who only wants to invest in the loans that have a good chance of being paid off on time. To do that, I'll need to first understand the features in the dataset and then experiment with building machine learning models that reliably predict if a loan will be paid off or not.

## Problem Statement
Can I build a machine learning model that can accurately predict if a borrower will pay off their loan on time or not?

## Data
Lending Club releases data for all of the approved and declined loan applications periodically on [their website](https://www.lendingclub.com/info/statistics.action). The data dictionary can be found [here](https://docs.google.com/spreadsheets/d/191B2yJ4H1ZPXq0_ByhUgWMFZOYem5jFz0Y3by_7YBY4/edit).

The `LoanStats` sheet describes the approved loans datasets and the `RejectStats` describes the rejected loans datasets. Since rejected applications don't appear on the Lending Club marketplace and aren't available for investment, I'll be focusing on data on approved loans only. The approved loans datasets contain information on current loans, completed loans, and defaulted loans.

I'll be focusing on approved loan data from 2007-2011 since most of the loans during this period have already been resolved. More recent datasets contain too many loans that are still in the process of being paid off.

First, I'll need to explore the data to determine which features I want to use and which column represents the target I want to predict.

In [1]:
import pandas as pd
import numpy as np

loans = pd.read_csv('loans_2007.csv')
loans.head(2)

c:\users\deand\appdata\local\programs\python\python37-32\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [2]:
loans.shape

(42538, 52)

My first concern from looking at the data is how many columns there are; I will definitely need to drop unnecessary columns to make the data more manageable. I also need to pay attention to data leakage that could cause my model to overfit. Data leakage would be any columns that indicate the loan has been funded.

### Data Cleaning
I will start by removing columns that are either unnecessary or that cause data leakage. Since there are so many columns, I'll have to break them into sections to drop.

First section:

|name	|dtype	|first value	|description|
|---|---|---|---|
|id	|object|	1077501	|A unique LC assigned ID for the loan listing.|
member_id|	float64|	1.2966e+06|	A unique LC assigned Id for the borrower member.|
|loan_amnt|	float64|	5000|	The listed amount of the loan applied for by the borrower.|
|funded_amnt|	float64|	5000|	The total amount committed to that loan at that point in time.|
funded_amnt_inv|	float64|	49750|	The total amount committed by investors for that loan at that point in time.
term|	object|	36 months|	The number of payments on the loan. Values are in months and can be either 36 or 60.
int_rate|	object|	10.65%|	Interest Rate on the loan
installment|	float64|	162.87|	The monthly payment owed by the borrower if the loan originates.
grade|	object|	B|	LC assigned loan grade
sub_grade|	object|	B2|	LC assigned loan subgrade
emp_title|	object|	NaN|	The job title supplied by the Borrower when applying for the loan.
emp_length|	object|	10+ years|	Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
home_ownership|	object|	RENT|	The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER.
annual_inc|	float64|	24000|	The self-reported annual income provided by the borrower during registration.
verification_status|	object|	Verified|	Indicates if income was verified by LC, not verified, or if the income source was verified
issue_d|	object|	Dec-2011|	The month which the loan was funded
loan_status|	object|	Charged Off|	Current status of the loan
pymnt_plan|	object|	n|	Indicates if a payment plan has been put in place for the loan
purpose|	object|	car|	A category provided by the borrower for the loan request.

In [3]:
cols = ['id','member_id','funded_amnt','funded_amnt_inv','grade',
        'sub_grade','emp_title','issue_d']
loans = loans.drop(cols, axis=1)
loans.columns

Index(['loan_amnt', 'term', 'int_rate', 'installment', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'loan_status',
       'pymnt_plan', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt',
       'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')

Using the same method and criteria for dropping columns, I will continue to drop the rest of the necessary columns.

In [4]:
cols = ['zip_code','out_prncp','out_prncp_inv','total_pymnt',
        'total_pymnt_inv','total_rec_prncp','total_rec_int',
       'total_rec_late_fee','recoveries','collection_recovery_fee',
       'last_pymnt_d','last_pymnt_amnt']
loans = loans.drop(cols, axis=1)
loans.head()

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,initial_list_status,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,5000.0,36 months,10.65%,162.87,10+ years,RENT,24000.0,Verified,Fully Paid,n,...,f,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,2500.0,60 months,15.27%,59.83,< 1 year,RENT,30000.0,Source Verified,Charged Off,n,...,f,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,2400.0,36 months,15.96%,84.33,10+ years,RENT,12252.0,Not Verified,Fully Paid,n,...,f,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,10000.0,36 months,13.49%,339.31,10+ years,RENT,49200.0,Source Verified,Fully Paid,n,...,f,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,3000.0,60 months,12.69%,67.79,1 year,RENT,80000.0,Source Verified,Current,n,...,f,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

#### Target Column
I will use the `loan_status` as my target to model since it is the only column that indicates whether a loan was paid off on time. However, since the data in this column is string type, I'll have to convert it to numeric. First I'll explore the values in the column so I can decide the best way to convert the values.

In [5]:
loans['loan_status'].value_counts()

Fully Paid                                             33136
Charged Off                                             5634
Does not meet the credit policy. Status:Fully Paid      1988
Current                                                  961
Does not meet the credit policy. Status:Charged Off      761
Late (31-120 days)                                        24
In Grace Period                                           20
Late (16-30 days)                                          8
Default                                                    3
Name: loan_status, dtype: int64

Here is the description for the entries above:

|Loan Status|	Count|	Meaning|
|-----------|--------|---------|
Fully Paid	|33136	|Loan has been fully paid off.
Charged Off	|5634|	Loan for which there is no longer a reasonable expectation of further payments.
Does not meet the credit policy. Status:Fully Paid	|1988|	While the loan was paid off, the loan application today would no longer meet the credit policy and wouldn't be approved on to the marketplace.
Does not meet the credit policy. Status:Charged Off	|761|	While the loan was charged off, the loan application today would no longer meet the credit policy and wouldn't be approved on to the marketplace.
In Grace Period	|20|	The loan is past due but still in the grace period of 15 days.
Late (16-30 days)	|8|	Loan hasn't been paid in 16 to 30 days (late on the current payment).
Late (31-120 days)	|24|	Loan hasn't been paid in 31 to 120 days (late on the current payment).
Current	|961|	Loan is up to date on current payments.
Default	|3|	Loan is defaulted on and no payment has been made for more than 121 days.

Since I am taking the perspective of an investor, I am interested in trying to predict which loan will be paid off on time and which ones will not. Only the 'Fully Paid' and 'Charged Off' values describe the final outcome of the loan. The other values describe loans that are still on going and unknown if the borrower will pay back the loan on time or not. While the 'Default' status resembles the 'Charged Off' status, in Lending Club's eyes, loans that are charged off have essentially no chance of being repaid while default ones have a small chance.

#### Cleaning the Target Column
Since my main interest is in the whether a loan will be paid off or not, I am only concerned with the 'Fully Paid' and 'Charged Off' status.  I will use binary classification to transform 'Fully Paid' to `1` and 'Charged Off' to `0`. However, I also want to keep in mind the issue of class imbalance, which results in the model favoring either the positive or negative class.

To clean the target column I will drop any rows where `loan_status` is not `Fully Paid` or `Charged Off`. Then I will replace these two values with `1` or `0`.

In [6]:
#dropping rows
criteria = loans[(loans['loan_status'] != 'Fully Paid') & 
                 (loans['loan_status'] != 'Charged Off')].index 
loans = loans.drop(criteria)
#replace values
replace = {
    'loan_status': {
        'Fully Paid': 1,
        'Charged Off': 0
    }
}
loans = loans.replace(replace)

#### Removing Single Value Columns
Columns in the dataset with only one unique value won't be useful for the model since they don't add any information to the loan applications.

In [7]:
#find the number of unique values in each column
drop_columns = []

for col in loans.columns:
    loans[col].dropna(inplace=True)
    unique = loans[col].unique()
    num_unique = len(unique)
    
    if num_unique == 1:
        drop_columns.append(col)
    else:
        pass
    
loans = loans.drop(drop_columns, axis=1)
print(drop_columns)

['pymnt_plan', 'initial_list_status', 'collections_12_mths_ex_med', 'policy_code', 'application_type', 'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt', 'tax_liens']

It looks like I was able to remove nine more columns from the dataframe. Now that I'm finished with cleaning the data I will export the cleaned dataframe as a csv for backup purposes.

In [8]:
loans.to_csv(r'loans_clean.csv',index=False)

## Preparing the Features
Now that the dataset has been cleaned, I can start preparing the data for machine learning by:

* handling missing values
* converting categorical types to numerical
* remove any other unnecessary columns I encounter

Resolving these issues is important because the mathematics underlying most machine learning models assume the data is numerical and contains no missing values.

### Handling Missing Values

In [9]:
null_counts = loans.isnull().sum()
null_counts, loans.shape[0]

(loan_amnt                  0
 term                       0
 int_rate                   0
 installment                0
 emp_length              1036
 home_ownership             0
 annual_inc                 0
 verification_status        0
 loan_status                0
 purpose                    0
 title                     11
 addr_state                 0
 dti                        0
 delinq_2yrs                0
 earliest_cr_line           0
 inq_last_6mths             0
 open_acc                   0
 pub_rec                    0
 revol_bal                  0
 revol_util                50
 total_acc                  0
 last_credit_pull_d         2
 pub_rec_bankruptcies     697
 dtype: int64, 38770)

It appears that most columns in the dataframe do not contain any missing values. However there are 5 columns that do, 2 of these (`emp_length`,`pub_rec_bankruptcies`) contain a large amount. 

Employment length is an important factor to assess the risk of a potential borrower, so I shouldn't drop it. I'll further explore `pub_rec_bankruptcies`.

In [10]:
loans['pub_rec_bankruptcies'].value_counts(normalize=True,dropna=False)

0.0    0.939438
1.0    0.042456
NaN    0.017978
2.0    0.000129
Name: pub_rec_bankruptcies, dtype: float64

I can see that this column has very little variability, about 94% of the values are in the same category. This means it probably won't have much predictive value. In this case, I will drop this column. Also, I will keep the other columns and just remove the rows with missing values.

In [11]:
loans.drop('pub_rec_bankruptcies', axis=1, inplace=True)
loans.dropna(inplace=True)

#examining counts of each datatype
loans.dtypes.value_counts()

object     11
float64    10
int64       1
dtype: int64

### Converting Categorical Types to Numeric 
While the numerical columns can be used natively with scikit-learn, the object columns that contain text need to be converted to numerical data types. From examining the data type counts above, I can see there are 11 object type columns to be converted. Before I convert anything, I'll explore these columns to see how they are formatted.

In [12]:
object_columns_df = loans.select_dtypes(include=['object'])
object_columns_df

,term,int_rate,emp_length,home_ownership,verification_status,purpose,title,addr_state,earliest_cr_line,revol_util,last_credit_pull_d
0,36 months,10.65%,10+ years,RENT,Verified,credit_card,Computer,AZ,Jan-1985,83.7%,Jun-2016
1,60 months,15.27%,< 1 year,RENT,Source Verified,car,bike,GA,Apr-1999,9.4%,Sep-2013
2,36 months,15.96%,10+ years,RENT,Not Verified,small_business,real estate business,IL,Nov-2001,98.5%,Jun-2016
3,36 months,13.49%,10+ years,RENT,Source Verified,other,personel,CA,Feb-1996,21%,Apr-2016
5,36 months,7.90%,3 years,RENT,Source Verified,wedding,My wedding loan I promise to pay back,AZ,Nov-2004,28.3%,Jan-2016
...,...,...,...,...,...,...,...,...,...,...,...
39781,36 months,8.07%,4 years,MORTGAGE,Not Verified,home_improvement,Home Improvement,CO,Nov-1990,13.1%,Jun-2010
39782,36 months,10.28%,3 years,RENT,Not Verified,credit_card,Retiring credit card debt,NC,Dec-1986,26.9%,Jul-2010
39783,36 months,8.07%,< 1 year,MORTGAGE,Not Verified,debt_consolidation,MBA Loan Consolidation,MA,Oct-1998,19.4%,Jun-2007
39784,36 months,7.43%,< 1 year,MORTGAGE,Not Verified,other,JAL Loan,MD,Nov-1988,0.7%,Jun-2007
39785,36 months,13.75%,< 1 year,OWN,Not Verified,debt_consolidation,Consolidation Loan,MA,Oct-2003,51.5%,Jun-2010

Some of the columns do represent categorical values, however, there are also some columns that represent numeric data that need to be converted.

__Categorical:__

* `home_ownership`: home ownership status, can only be 1 of 4 categorical values according to the data dictionary
* `verification_status`: indicates if income was verified by Lending Club
* `emp_length`: number of years the borrower was employed upon time of application
* `term`: number of payments on the loan, either 36 or 60
* `addr_state`: borrower's state of residence
* `purpose`: a category provided by the borrower for the loan request
* `title`: loan title provided the borrower

__Numeric:__

* `int_rate`: interest rate of the loan in %
* `revol_util`: revolving line utilization rate or the amount of credit the borrower is using relative to all available credit

The columns `purpose` and `title` seem to contain the same information. There are also some data columns that don't seem to be relevant and will need to be dropped

I'll examine the unique values in each of the categorical columns.

In [13]:
cols = ['home_ownership', 'verification_status', 'emp_length', 'term', 'addr_state']

for col in cols:
    print(loans[col].value_counts())

RENT        18112
MORTGAGE    16686
OWN          2778
OTHER          96
NONE            3
Name: home_ownership, dtype: int64
Not Verified       16281
Verified           11856
Source Verified     9538
Name: verification_status, dtype: int64
10+ years    8545
< 1 year     4513
2 years      4303
3 years      4022
4 years      3353
5 years      3202
1 year       3176
6 years      2177
7 years      1714
8 years      1442
9 years      1228
Name: emp_length, dtype: int64
 36 months    28234
 60 months     9441
Name: term, dtype: int64
CA    6776
NY    3614
FL    2704
TX    2613
NJ    1776
IL    1447
PA    1442
VA    1347
GA    1323
MA    1272
OH    1149
MD    1008
AZ     807
WA     788
CO     748
NC     729
CT     711
MI     678
MO     648
MN     581
NV     466
SC     454
WI     427
OR     422
LA     420
AL     420
KY     311
OK     285
KS     249
UT     249
AR     229
DC     209
RI     194
NM     180
WV     164
HI     162
NH     157
DE     110
MT      77
WY      76
AK      76
SD      60
VT      53
MS      19
TN      17
IN       9
ID       6
NE       5
IA       5
ME       3
Name: addr_state, dtype: int64

The `home_ownership`, `verification_status`, `emp_length`, `term`, and `addr_state` columns all contain multiple discrete values. The `emp_length` column should be cleaned and treated as a numerical column since the values have ordering (2 years of employment is less than 8 years).

I'll look at the unique value counts for the `purpose` and `title` columns to understand which column I should keep.

In [14]:
title_counts = loans.title.value_counts()
purpose_counts = loans.purpose.value_counts()

title_counts, purpose_counts

(Debt Consolidation                        2068
 Debt Consolidation Loan                   1599
 Personal Loan                              624
 Consolidation                              488
 debt consolidation                         466
                                           ...
 prosperity loan                              1
 New Plan                                     1
 Home Household Items                         1
 If You Believe it, You Can Achieve it!       1
 credit card restructure                      1
 Name: title, Length: 18881, dtype: int64, debt_consolidation    17751
 credit_card            4911
 other                  3711
 home_improvement       2808
 major_purchase         2083
 small_business         1719
 car                    1459
 wedding                 916
 medical                 655
 moving                  552
 house                   356
 vacation                348
 educational             312
 renewable_energy         94
 Name: purpose, dtype: int64)

Values in the `title` column appear to be duplicates of the more general values in the `purpose` column. Also, the column contains data quality issues since many of the values are repeated with slight modifications. I'll keep the `purpose` column since it contains fewer discrete values.

### Cleaning Categorical Columns
In this section I will encode the categorical values with dummy variables. I will use the following mapping to clean the `emp_length` column.

* "10+ years": 10
* "9 years": 9
* "8 years": 8
* "7 years": 7
* "6 years": 6
* "5 years": 5
* "4 years": 4
* "3 years": 3
* "2 years": 2
* "1 year": 1
* "< 1 year": 0
* "n/a": 0

I've also decided to drop the `addr_state` column since I would have to create 49 dummy variables, and state probably wouldn't have much predictive power.

In [15]:
#dict to clean 'emp_length'
mapping_dict = {
    "emp_length": {
        "10+ years": 10,
        "9 years": 9,
        "8 years": 8,
        "7 years": 7,
        "6 years": 6,
        "5 years": 5,
        "4 years": 4,
        "3 years": 3,
        "2 years": 2,
        "1 year": 1,
        "< 1 year": 0,
        "n/a": 0
    }
}

#drop columns
loans = loans.drop(["last_credit_pull_d", "earliest_cr_line", "addr_state", "title"], axis=1)

#clean and convert to numerical
loans["int_rate"] = loans["int_rate"].str.rstrip("%").astype("float")
loans["revol_util"] = loans["revol_util"].str.rstrip("%").astype("float")

#using dict to replace values
loans = loans.replace(mapping_dict)